/*
Name: Arthur Clark
Date: 12 / 16 / 2018
Filename: restaurantStyles.css
Description:
- The style sheet for the restaurant site. It contains several stylings that are shared 
among all pages in the site. These include the body width, header/footer, jumbotron, 
and nav blocks. 
*/

body {
	width: 1200px;
	margin: 0 auto;
}
header {
	border-bottom:thin dotted black;
	padding-top:10px;	
	padding-left:10px;
}

footer {
	padding-top: 20px;
	border-top: thin solid black;
	text-align: center;
}

.carousel-item .jumbotron {
	margin-bottom: 0;
	/*height:100px;*/
}
.restaurantName {
	font-family: 'Staatliches', cursive;
	text-align:center;
}

/*Background class that gives a beige background to the main content of each page*/
.background {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: thin solid black;
	background-color: antiquewhite;
}

nav {
	padding: 20px;
	border-top: thin solid black;
	border-bottom: thin solid black;
}

nav .btn {
	text-decoration: underline;
	background-color:blanchedalmond;
	margin-right: 10px;
}

nav .btn:hover {
	font-weight: bold;
	text-decoration: underline;
}
nav .btn:visited {
	color:darkorchid;
}
nav .btn:active {
	text-decoration:none;
}
